---
active_section: adventure
permalink: /adventure/
title: Adventure
---

<br/>
<div class="adventures-container">
  {% for adventure in site.data.adventures %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <a target="_blank" href="{{ adventure.url }}">
              <div class="card-img">
                <img src="{{ adventure.img }}" width="100" height="100" />
              </div>
            </a>
              <div class="adventure-info">
                <a target="_blank" href="{{ adventure.url }}">
                  <h4 class="card-title">{{ adventure.trip }} ({{ adventure.year }})</h4>
                </a>
                <p>{{ adventure.location }}</p>
                <p>{{ adventure.days }} days {{ adventure.distance }} {{ adventure.elevation}}</p>
              </div>
            </a>
          </div>
        </div>
    {% else %}
        <div class="col-sm-6">
          <div class="card">
            <a target="_blank" href="{{ adventure.url }}">
              <div class="card-img">
                <img src="{{ adventure.img }}" width="100" height="100" />
              </div>
            </a>
              <div class="adventure-info">
                <a target="_blank" href="{{ adventure.url }}">
                  <h4 class="card-title">{{ adventure.trip }} ({{ adventure.year }})</h4>
                </a>
                <p>{{ adventure.location }}</p>
                <p>{{ adventure.days }} days {{ adventure.distance }} {{ adventure.elevation}}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>

<script src="/assets/scripts/projects.js"></script>
