---
active_section: cv
title: CV
---

<style>
  p {
    margin-bottom: 0rem;
  }
</style>

<br />
<div class="cv-container col-12 mx-auto">
  <div class="row align-items-start">
    <div class="col">
      <h1><strong>Matthew Blanco</strong></h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col float-right">
      <p><a href="https://mattblanco.me">https://mattblanco.me</a>
        <a href="mattmblanco@gmail.com">mattmblanco@gmail.com</a>
      </p>
    </div>
  </div>
  <section class="my-1 row">
    <h4 class="col-3">
      <strong>
        Education
      </strong>
    </h4>
    <div class="col">
      {% for edu in site.data.resume.education %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      <div class="mb-4">
        <div class="row">
          <div class="col col-md-auto edu-info">
            <h5>
              <strong>{{ edu.title }}</strong>
            </h5>
          </div>
          <div class="col col-md-auto">
            <p>
              {{ edu.location }}
            </p>
          </div>
          <div class="col d-flex justify-content-end">
            <p>{{ edu.startDate }} - {{ edu.endDate }}</p>
          </div>
        </div>
        <div class="row">
          <p>{{ edu.degreeType}} {{ edu.degree }}</p>
          {% if edu.gpa != '' %}
          <p>GPA: {{ edu.gpa }} / 4.0</p>
          {% endif %}
          <p>{{ edu.honors }}</p>
          {% if edu.clubs != '' %}
          <div>
            <p>
              <span>
                Extracurriculars:
                {% for club in edu.clubs %}
                {{ club }}
                {% endfor %}
              </span>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="row">
    <h4 class="col-3">
      <strong>
        Work Experience
      </strong>
    </h4>
    <div class="col">
      {% for exp in site.data.resume.experience %}
      <div class="mb-3">
        <div class="row align-items-start">
          <h5 class="col col-md-auto">
            <strong>
              {{ exp.position }}
            </strong>
          </h5>
          <p class="col col-md-auto">
            <em>
              {{ exp.company }}
            </em>
          </p>
          <div class="col d-flex justify-content-end">
            <span>{{ exp.startDate }} - {{ exp.endDate }}</span>
          </div>
        </div>
        <div class="row mb-2">
          <h6>{{ exp.location }}</h6>
        </div>
        <div class="row">
          {% for bullet in exp.description %}
          <p>- {{ bullet }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

  </section>

  <!-- <section class="mt-1 mb-1">
        <h4>
          <strong>
            Projects
          </strong>
        </h4>
        {% for project in site.data.resume.projects %}
        <div class="mb-4">
          <div class="row">
            <div class="col col-md-auto edu-info">
              <h5>
                <strong>
                  {{ project.title }}
                </strong>
              </h5>
            </div>
            <div class="col d-flex justify-content-end">
              <p>{{ project.year }}</p>
            </div>
          </div>
          <div class="row">
            <div>
              <p>
                <span>
                  skills:
                  {% for skill in project.skills %}
                  {{ skill }}
                  {% endfor %}
                </span>
              </p>
            </div>
            <div class="row">
              {% for bullet in project.description %}
              <p>- {{ bullet }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </section>

      <section class="mt-1 mb-1">
        <h4>
          <strong>
            Leadership
          </strong>
        </h4>
        {% for ld in site.data.resume.leadership %}
        <div class="mb-4">
          <div class="row">
            <div class="col col-md-auto edu-info">
              <h5>
                <strong>
                  {{ ld.organization }}
                </strong>
              </h5>
              </h5>
            </div>
            <div class="col d-flex justify-content-end">
              <p>{{ ld.start }} - {{ ld.end }}</p>
            </div>
          </div>
          <div class="row">
            <div>
              <p>
                <span>
                  Positions:
                  {% for pos in ld.positions %}
                  {{ pos }}
                  {% endfor %}
                </span>
              </p>
            </div>
            <div class="row">
              {% for bullet in ld.description %}
              <p>- {{ bullet }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </section> -->

  <section class="my-1 row">
    <h4 class="col-3">
      <strong>
        Exhibitions
      </strong>
    </h4>
    <div class="col">
      {% for exhibition in site.data.resume.exhibitions %}
      <div class="mb-2">
        <div class="row">
          <p class="col-2">
            {{ exhibition.year }}
          </p>
          <div class="col">
            <p>
              <strong>{{ exhibition.project }}</strong>
            </p>
            <p>
              <em>{{ exhibition.exhibition }}</em>
            </p>
            {% for author in exhibition.participants %}
            {{ author }}
            {% endfor %}
            <p class="mt-2 mb-4">
              {{ exhibition.description }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="my-1 row">
    <h4 class="col-3">
      <strong>
        Publications
      </strong>
    </h4>
    <div class="col">
      {% for pub in site.data.resume.publications %}
      <div class="mb-2">
        <div class="row">
          <p class="col-2">
            {{pub.year}}
          </p>
          <div class="col">
            <p>
              <strong>{{ pub.title }}</strong>
            </p>
            <p>
              <em>{{ pub.conference }}</em>
            </p>
            {% for author in pub.authors %}
            {{ author }}
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="my-1 row">
    <h4 class="col-3">
      <strong>
        Awards
      </strong>
    </h4>
    <div class="col">
      {% for award in site.data.resume.awards %}
      <div class="mb-2">
        <div class="row">
          <p class="col-2">
            {{award.year}}
          </p>
          <p class="col">
            <strong>{{ award.name }}</strong>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>