---
active_section: itp
layout: default
---


<div class="row position-absolute overflow-hidden">
    <div id="graph"></div>
</div>
<div class="row z-4 position-relative">
    <div class="col-sm-8">
        <h2 class="mt-0">ITP Blog</h2>
        <div class="row">
            <div class="container">
                <h3>Spring 2026</h3>
                <div class="row">
                    <h5>
                        Energy
                    </h5>
                    <ul>
                        {% for post in site.posts %}
                        {% if post.category == 'energy' %}
                        <div class="col-12">
                            <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                        </div>
                        <!-- {{ post.excerpt }} -->
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <h5>
                        Nature of Code
                    </h5>
                    <ul>
                        {% for post in site.posts %}
                        {% if post.category == 'noc' %}
                        <div class="col-12">
                            <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                        </div>
                        <!-- {{ post.excerpt }} -->
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <h5>
                        Intangible Interactions
                    </h5>
                    <ul>
                        {% for post in site.posts %}
                        {% if post.category == 'intangible' %}
                        <div class="col-12">
                            <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                        </div>
                        <!-- {{ post.excerpt }} -->
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <h3 class="mt-3">
                    Fall 2025
                </h3>
                <h5>
                    Physical Computing
                </h5>
                <ul>
                    {% for post in site.posts %}
                    {% if post.category == 'pcomp' %}
                    <div class="col-12">
                        <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                    </div>
                    <!-- {{ post.excerpt }} -->
                    {% endif %}
                    {% endfor %}
                </ul>
                <h5>
                    Intro to Computational Media: Media
                </h5>
                <ul>
                    {% for post in site.posts %}
                    {% if post.category == 'icm' %}
                    <div class="col-12">
                        <a href="{{ post.url }}"><p>{{ post.title }}</p></a>
                    </div>
                    <!-- {{ post.excerpt }} -->
                    {% endif %}
                    {% endfor %}
                </ul>
                <h5>
                    Intro to Fabrication
                </h5>
                <ul>
                    {% for post in site.posts %}
                    {% if post.category == 'fab' %}
                    <div class="col-12">
                        <a href="{{ post.url }}" class="col-12"><p>{{ post.title }}</p></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
                <h5>
                    Applications
                </h5>
                <ul>
                    {% for post in site.posts %}
                    {% if post.category == 'applications' %}
                    <div class="col-12">
                        <a href="{{ post.url }}" class="col-12"><p>{{ post.title }}</p></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
  window.addEventListener("load", () => {
    renderElements();
  })
</script>