---
active_section: projects
permalink: /projects/
title: Projects
---

<br />
<div class="projects-container d-flex flex-wrap">
  {% for project in site.data.projects %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <div class="card w-50">
    <a target="_blank" href="{{ project.url }}">
      <div class="card-img">
        {% if project.img contains "mp4" or project.img contains "mov" %}
        <video class="img-fluid" loop autoplay muted src="{{ project.img }}"></video>
        {% else %}
        <img src="{{ project.img }}" width="100" height="100" />
        {% endif %}
      </div>
    </a>
    <div class="project-info">
      <a target="_blank" href="{{ project.url }}">
        <h4 class="card-title">{{ project.title }}</h4>
      </a>
      <p>{{ project.description }}</p>
    </div>
    </a>
  </div>
  {% endfor %}
</div>
</div>

<script src="/assets/scripts/projects.js"></script>