html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.arcs {
    z-index: -1;
    position: fixed; 
    top:0; 
    left:0; 
    width: 100%; 
    height: 700px; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}

.arcText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 40pt;
}

.container {
    position: relative; 
    top: 100vh;   
    min-height: 100vh; 
    max-width: 800px;
    min-width: 100px;
}

.about {
    position: absolute;
    padding: 25px;
} 

#left {
    position: relative;
    left: 10%;
}

h2 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    text-align: left; 
    margin: 0 0 50px; 
    padding: 0; 
    font-size: 40px; 
    opacity: 75%;
} 

p { 
    font-family: garamond;
    text-align: left; 
    opacity: 75%;
    font-size: 40px;
}

#right{
    position: relative;
    right: -83%;
}

#blog {
    position: relative;   
    min-height: 70vh; 
}

#blogPost {
    font-family: garamond;
    text-align: center; 
    margin-left: 35%;
    opacity: 75%;
    font-size: 35px;
}

#blogPost:hover {
    opacity: 50%;
}

#blog h2 {
    font-size: 50px;
    padding-left: 10%;
    padding-bottom: 80px;
}

#blogSquare {
    z-index: -1;
    position: relative;
    opacity: 75%;
    left: 150px;
    top: 60px;
    width: 100px;
    height: 20px;
    background-color: #ffb7b2;
}

#postSquare {
    z-index: -1;
    position: relative;
    opacity: 75%;
    left: 500px;
    top: -20px;
    width: 500px;
    height: 25px;
    background-color: #ffdac1;
}


#blog p {
    text-align: center;
    padding-left: 0%;
}

#projects h2{
    font-size: 50px;
    padding-left: 10%;
}

ul {
    padding-left: 20%;
    list-style-type: circle;
    font-family: garamond;
    text-align: left; 
    font-size: 40px;
}

li {
    opacity: 75%;
    padding-top: 35px;
}

li, a {
    color: black;
}

a:hover {
    opacity: 50%;
}

.projectSvg {
    z-index: -1;
    opacity: 75%;
    position: relative;
    margin-bottom: -1500px;
    top: -1500px;
} 

p.list {
    font-size: 20px;
}

#contact {
    padding-bottom: 20vh;
    padding-top: 15vh;
}

#contact h2{
    font-size: 50px;
    padding-left: 10%;
}

div.conArc {
    padding-left: 25%;
    z-index: 2;
} 

.conText {
    cursor: pointer;
    font-family: garamond;
    text-decoration: underline;
    opacity: 75%;
    font-size: 40px; 
}

.sidenav {
    width: 250;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 170px;
  }
  
.sidenav a {
    padding: 8px 20px 40px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    opacity: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    transition: 0.3s;
  }
 
.sidenav a:hover {
    text-decoration: underline;
  }

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-thumb {
    background: #575757;
  }

  #portfolioContainer {
    position: absolute;
    overflow: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
  }

  .portfolioTitles {
      font-family: futura;
      font-size: 75;
      color: #303030;
      opacity: 100%;
      transform: rotate(-27deg);
  }

  #type {
      position: relative;
  }

  #typeText {
      position: absolute;
      top: 10rem;
      z-index: 10;
  }

  #typeText > a {
    color: #303030;
  }

  #typeText > a:link {
    opacity: 100%;
    text-decoration: none;
  }

  #typeText > a:hover {
    color: #fffcf2;
    opacity: 100%;
    animation: changeText 1s 1 alternate ease-in-out;
    text-decoration: none;
  }

  #typeHover {
    position: absolute;
    z-index: 3;
    top: 17rem;
    left: -5rem;
    transform: rotate(-27deg);
    height: 125px;
    width: 100px;

}

  #typeText:hover + #typeHover {
    background-color: #303030;
    top: 4rem;
    left: -8rem;
    width: 1000px;
    animation: growTypeBox 1s 1 alternate ease-in-out;
  }

  @keyframes changeText {
    from {
        color: #303030;
    } to {
        color: #fffcf2;
    }
  }

  @keyframes growTypeBox {
    from {
        width: 10px;
        top: 17rem;
        left: -5rem;
    } to {
        width: 1000px;
        top: 4rem;
        left: -8rem;
    }
  }

  #fund > a {
    color: #303030;
  }

  #fund > a:link {
    opacity: 100%;
    text-decoration: none;
  }

  #fund > a:hover {
    color: #fffcf2;
    opacity: 100%;
    animation: changeText 1s 1 alternate ease-in-out;
    text-decoration: none;
  }

  #fund {
    position: absolute;
    top: 5rem;
    left: 45rem;  
    z-index: 4;
  }

  #fundHover {
      position: absolute;
      transform: rotate(-27deg);
      height: 125px;
      width: 100px;
      top: 10rem;
      z-index: 3;
      left: 45rem;  
  }

  #fund:hover + #fundHover {
    background-color: #303030;
    top: -2rem;
    left: 42rem;
    width: 1000px;
    animation: growFundBox 1s 1 alternate ease-in-out;
  }

  @keyframes growFundBox {
    from {
        width: 10px;
        top: 10rem;
        left: 45rem;
    } to {
        width: 1000px;
        top: -2rem;
        left: 42rem;
    }
  }

  #gdText {
      position: absolute;
      z-index: 6;
      top: 35rem;
      left: 15rem;
  }

  #gdText > a:hover {
    color: #fffcf2;
    opacity: 100%;
    animation: changeText 1s 1 alternate ease-in-out;
    text-decoration: none;
  }

  #gdHover {
    position: absolute;
    transform: rotate(-27deg);
    height: 125px;
    width: 100px;
    top: 53rem;
    z-index: 0;
    left: -4rem; 
  }

  #gdText:hover + #gdHover {
    background-color: #303030;
    top: 38rem;
    left: -4rem;
    width: 1050px;
    animation: growGdBox 1s 1 alternate ease-in-out;
  }

  @keyframes growGdBox {
      from {
          width: 100px;
          top: 53rem;
          left: -4rem;
      } to {
          width: 1050px;
          top: 38rem;
          left: -4rem;
      }
  }

  #gdText > a {
    color: #303030;
  }

  #gdText > a:link {
    opacity: 100%;
    text-decoration: none;
  }

  #pLime {
      position: absolute;
      background-color: #E2F0CB;
      transform: rotate(-27deg);
      opacity: 80%;
      z-index: -4;
      top: 15rem;
      left: -4rem;
      width: 550px;
      height: 50px;
  }

  #pOrange {
    position: absolute;
    background-color: #FFDAC1;
    transform: rotate(-27deg);
    opacity: 80%;
    z-index: -3;
    top: 6rem;
    left: 40rem;
    width: 900px;
    height: 50px;
}

#pGreen {
    position: absolute;
    background-color: #B5EAD7;
    transform: rotate(-27deg);
    opacity: 80%;
    z-index: -3;
    top: 43rem;
    left: -5rem;
    width: 1000px;
    height: 50px;
}

#pRed1 {
    position: absolute;
    background-color: #ffb7b2;
    transform: rotate(-27deg);
    opacity: 80%;
    z-index: -3;
    top: 0rem;
    left: -20rem;
    width: 200%;
    height: 50px;
}

#pRed2 {
    position: absolute;
    background-color: #ffb7b2;
    transform: rotate(-27deg);
    opacity: 80%;
    z-index: -3;
    top: 12rem;
    left: -10rem;
    width: 200%;
    height: 50px;
}

#tContainer {
    position: absolute;
    overflow: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.typeTitle {
    font-family: futura;
    font-size: 215;
    color: #303030;
    opacity: 100%;
}

#t1 {
    position: absolute;
    top: -5rem;
}

#t2 {
    position: absolute;
    top: 5rem;
    left: -0.45rem;
}

#t3 {
    position: absolute;
    top: 17rem;
    left: -1rem;
}

#letterforms {
    position: absolute;
    width: 20rem;
    left: 56rem;
}

#letterforms > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#lfText > a {
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#lfText > a:link {
    text-decoration: none;
}

#lHoverBox{
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -3;
}

#lfText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#lfText:hover + #lHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}

@keyframes growHoverBox {
    from {
        width: 0rem;
    } to {
        width: 12rem;
    }
}

#wordplay {
    position: absolute;
    width: 20rem;
    left: 45rem;
    top: 15rem;
}

#wHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -3;
}

#wpText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#wpText > a:link {
    text-decoration: none;
}

#wpText:hover + #wHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}

#wordplay > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#wpText > a {
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#expressive {
    position: absolute;
    width: 20rem;
    left: 55rem;
    top: 30rem;
}

#eHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -3;
}

#tText > a:link {
    text-decoration: none;
}

#tText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#tText:hover + #eHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}


#expressive > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#expressive > h3 {
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#rc1 {
    position: absolute;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    top: 40%;
    left: -5%;
    z-index: -4;
    background-color: #ffb7b2;
}

#lc1 {
    position: absolute;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    top: -15%;
    left: 35%;
    z-index: -4;
    background-color: #E2F0CB;
}

#oc1 {
    position: absolute;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    top: 60%;
    left: 70%;
    z-index: -4;
    background-color: #FFDAC1;
}

#gdContainer {
    position: absolute;
}

#gc1 {
    position: absolute;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    top: -5%;
    left: 90%;
    z-index: -4;
    background-color: #B5EAD7;
}

.gdTitle {
    z-index: -3;
    letter-spacing: -5px;
    font-family: futura;
    color: #303030;
    font-size: 20rem;
}

#greenGD1 {
    position: absolute;
    color: #B5EAD7;
    top: -10rem;
}

#greenGD2 {
    position: absolute;
    color: #B5EAD7;
    top: 5rem;
    left: 10rem;
}

#orangeGD1 {
    position: absolute;
    color: #ffdac1;
    top: -9rem;
}

#orangeGD2 {
    position: absolute;
    color: #ffdac1;
    top: 6rem;
    left: 10rem;
}

#limeGD1 {
    position: absolute;
    color: #E2F0CB;
    top: -8rem;
}

#limeGD2 {
    position: absolute;
    color: #E2F0CB;
    top: 7rem;
    left: 10rem;
}

#redGD1 {
    position: absolute;
    color: #ffb7b2;
    top: -7rem;
}

#redGD2 {
    position: absolute;
    color: #ffb7b2;
    top: 8rem;
    left: 10rem;
}

#book {
    position: absolute;
    width: 20rem;
    left: 10rem;
    top: 0rem;
}

#bcHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -1;
}

#bcText > a {
    text-decoration: none;
}

#bcText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#bcText:hover + #bcHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}


#book > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#book > h3 {
    z-index: 10;
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#sp {
    position: absolute;
    width: 20rem;
    left: 37rem;
    top: 0rem;
}

#spHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -1;
}

#spText > a:link {
    text-decoration: none;
}

#spText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#spText:hover + #spHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}


#sp > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#sp > h3 {
    z-index: 10;
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#brand {
    position: absolute;
    width: 20rem;
    left: 1rem;
    top: 32rem;
}

#brandHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -1;
}

#brandText > a:link {
    text-decoration: none;
}

#brandText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#brand > h3:hover + #brandHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}

#brand > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#brand > h3 {
    z-index: 10;
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#fundamental {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #fffcf2;
}

#fContainer {
    position: relative;
    height: 100%;
}

#rBar {
    position: absolute;
    background-color: #ffb7b2;
    left: 20rem;
    top: -30rem;
    width: 10rem;
    height: 100rem;
    transform: rotate(45deg);
    z-index: -3;
}

#lBar {
    position: absolute;
    background-color: #E2F0CB;
    left: 25rem;
    top: -27rem;
    width: 10rem;
    height: 100rem;
    transform: rotate(45deg);
    z-index: -2;
}

#oBar {
    position: absolute;
    background-color: #FFDAC1;
    left: 30rem;
    top: -20rem;
    width: 10rem;
    height: 100rem;
    transform: rotate(45deg);
    z-index: -3;
}

#gBar {
    position: absolute;
    background-color: #B5EAD7;
    left: 40rem;
    top: -20rem;
    width: 10rem;
    height: 100rem;
    transform: rotate(45deg);
    z-index: -2;
}

#fname {
    position: absolute;
    font-family: futura;
    font-size: 6rem;
    left: 14rem;
    top: 12rem;
    color: #fffcf2;
}

#publication {
    position: absolute;
    width: 20rem;
    left: 45rem;
    top: 30rem;
}

#pubText > a:link {
    text-decoration: none;
}

#pubText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#pub {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -1;
}

#publication > h3:hover + #pub {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}

#publication > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#publication > h3 {
    z-index: 10;
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}

#fc {
    position: absolute;
    width: 20rem;
    left: -10rem;
    top: 0rem;
}

#fcText > a:link {
    text-decoration: none;
}

#fcText > a:hover {
    opacity: 100%;
    cursor: pointer;
    animation: changeText 1s 1 alternate ease-in-out;
    color: #fffcf2; 
}

#fcHoverBox {
    position: relative;
    height: 2rem;
    top: -3.5rem;
    z-index: -1;
}

#fc > h3:hover + #fcHoverBox {
    width: 12rem;
    background-color: #303030;
    animation: growHoverBox 1s 1 alternate ease-in-out;
}

#fc > p {
    position: relative;
    top: -4.5rem;
    font-size: 15pt;
}

#fc > h3 {
    z-index: 10;
    color: #303030;
    font-size: 20pt;
    font-family: futura;
}