.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 5%;
}

.searchWord {
    opacity: 15%;
    font-size: 2000%;
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
}

.titleText {
    font-family: 'Franklin Gothic Medium';
    font-size: 100%;
}