<div class="mt-4 footer-container bg-white p-4 border-top border-dark border-2 sticky-bottom">
    <div class="row align-items-center">
        <div class="col-4">
            <h4>Thanks for checking out my stuff!</h4>
        </div>
        <div class="col-8 d-flex justify-content-end">
            <a href="mattmblanco@gmail.com" target="_blank"><span>mattmblanco@gmail.com</span></a>
            <a href="https://www.instagram.com/matthew_blanco/" target="_blank"><span
                    class="ms-2">@matthew_blanco</span></a>
        </div>
    </div>
</div>