<nav id="navbar" class="meta-text mx-3 mx-md-0 mt-2 mb-2">
  {% if page.active_section != "home" and page.active_section != "cv" %}
  <h5 style="float: left;">Matthew Blanco</h5>
  {% endif %}
  <ul class="nav navbar-expand-lg navbar-light ms-auto w-fit">
    <li><a {% if page.active_section == 'home' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'home' %} class="nav-item" href="{{ "/"  | prepend: site.baseurl }}"{% endunless %} title="Home">Home</a></li>
    <li><a {% if page.active_section == 'about' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'about' %} class="nav-item" href="{{ "/about"  | prepend: site.baseurl }}"{% endunless %} title="About">About</a></li>
    <li><a {% if page.active_section == 'projects' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'projects' %} class="nav-item" href="{{ "/projects"  | prepend: site.baseurl }}"{% endunless %} title="Projects">Projects</a></li>
    <li><a {% if page.active_section == 'research' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'research' %} class="nav-item" href="{{ "/research"  | prepend: site.baseurl }}"{% endunless %} title="Research">Research</a></li>
    <li><a {% if page.active_section == 'photography' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'photography' %} target="_blank" class="nav-item" href="https://www.instagram.com/mattblanco.photo/"{% endunless %} title="Photography">Photography</a></li>
    <li><a {% if page.active_section == 'adventure' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'adventure' %} class="nav-item" href="{{ "/adventure"  | prepend: site.baseurl }}"{% endunless %} title="Adventure">Adventure</a></li>
    <li><a {% if page.active_section == 'cv' %}class="nav-current nav-item"{% endif %} {% unless page.active_section == 'cv' %} class="nav-item" href="{{ "/cv"  | prepend: site.baseurl }}"{% endunless %} title="cv">CV</a></li>
  </ul>
</nav>