* {
  font-family: interstate;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#info {
  margin: 3%;
  position: relative;
  z-index: 2;
}

#title {
  font-weight: 100;
  width: fit-content;
  font-style: normal;
  
}

#graph {
  position: absolute;
  top: 40vh;
  z-index: 3;
}

.nodeText {
  cursor: pointer;
  margin: 25px;
}

.nodeText:hover {
  text-decoration: underline;
  transition: 2s ease-in-out;
}

#homeTitle {
  width: fit-content;
}

p {
  margin-bottom: 1rem;
}

a {
  width: fit-content;
  text-decoration: none;
  font-style: italic;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.link:after{
  content: '';
  position: relative;
  width: 0; height: 1.5px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #000000;
}

#aboutImage {
  max-width: 35vw;
}

.nav-item {
  margin-right: 0.5vw;
}

.nav-current {
  text-decoration: underline;
}

.w-fit {
  width: fit-content;
}

#title:hover {
  color: black;
  text-decoration: none;
}

#title:hover {
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  #graph {
    top: 45vh;
  }
}
