

@font-face {
  font-family: Blanco;
  src: url("../assets/Blanco.ttf"), auto;
}

.inclusive-sans-regular {
  font-family: "Inclusive Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular-italic {
  font-family: "Inclusive Sans", serif;
  font-weight: 400;
  font-style: italic;
}


* {
  font-family: "Blanco", "hanken-grotesk", "Inclusive Sans" !important;
  cursor: url('/assets/images/blanco-logo-outline-small.png'), auto;
}

p, small {
  font-family: "Inter 18pt" !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mt-3-5 {
  margin-top: 1.25rem;
}

#info {
  margin: 3%;
  position: relative;
  z-index: 4;
}

#title {
  font-weight: 100;
  width: fit-content;
  font-style: normal;
  
}

#graph {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 0;
}

.nodeText {
  margin: 25px;
}

.underline {
  text-decoration: underline;
}

.nodeText:hover {
  text-decoration: underline;
  transition: 2s ease-in-out;
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

#homeTitle {
  width: fit-content;
}

p {
  margin-bottom: 1rem;
}

a {
  width: fit-content;
  text-decoration: none;
  font-style: italic;
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

.link:after{
  content: '';
  position: relative;
  width: 0; height: 1.5px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #000000;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #000000;
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

#about-image {
  max-width: 25vw;
  /* max-height: 25vh; */
}

.nav-item {
  margin-right: 0.5vw;
}

.nav-current {
  text-decoration: underline;
}

.w-fit {
  width: fit-content;
}

#title:hover {
  color: black;
  text-decoration: none;
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

#title:hover {
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto;
}

.card-img {
  width: 100%;
  height: auto;
}

.card {
  padding: 15px;
  border: none;
  margin-bottom: 15px;
  height: fit-content;
} 

.card:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

.card *:hover {
  cursor: url('/assets/images/blanco-logo-icon-small.png'), auto !important;
}

.card-title {
  padding-top: 15px;
}

img {
  width: 100%;
  height: auto;
}

#boat {
  max-width: 15%;
  position: absolute;
  top: 75%;
  left: 75%;
}

.nav-logo {
  width: 4rem;
}

/* 
@media (min-width:801px)  {
  #graph {
    top: -10vh;
  }
}

@media screen and (max-width: 480px) {
  #graph {
    top: 0vh;
  }
} */
