/*
============================================================================================
=========================  Styling for Homepage  =======================================
============================================================================================ 
*/

html {
  min-height: 100%;
  overflow-x: hidden;
  /* overflow-y: hidden;  */
}

#Body {
  position: absolute;
  margin-top: 5%;
}

#root {
  height: 90vh;
  width: 100vw;
}

#MainHeader {
  margin-left: 5%;
  width: 63%;
  z-index: 1;
  /* margin-top: -15%; */
}

#hey {
  font-family: 'Didot';
  font-style: italic;
  font-weight: 700;
  color: #FFBE07;
  font-size: 8em;
  position: relative;
  line-height: 85%;
}

#about {
  width: 60%;
  position: relative;
}

#QuickLinks {
  margin-top: 5vh;
  width: 100%;
  position: relative;
}

#aboutText {
  font-weight: 300;
  font-size: 1.25em;
  font-family: 'Segoe UI';
}

.link {
  position: relative;
  font-family: 'Didot';
  font-style: italic;
  color: black;
  font-weight: 500;
  font-size: 1.5em;
  margin-right: 1vw;
}

.link:hover {
  color: #FFBE07;
}

#Navigation {
  width: 5vw;
  height: 25vh;
  z-index: 3;
  margin-left: 90%;
  position: absolute;
}

.NavLink {
  float: right;
  list-style-type: none;
  margin-bottom: 15%;
}

.NavLink>a {
  color: #FFBE07;
  font-family: 'Didot';
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
}

.NavLink>a:hover {
  color: black;
}

.react-p5 {
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  z-index: -3;
  top: 0vh;
  opacity: 50%;
}

/*
============================================================================================
=========================  Styling for About  =======================================
============================================================================================ 
*/

#AboutMe {
  margin-top: 5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#Info {
  position: relative;
  margin-left: 5vw;
  margin-right: 15vw;
  position: relative;
}

.AboutLink {
  position: relative;
  font-family: 'Didot';
  font-style: italic;
  color: black;
  font-weight: 400;
}

.AboutLink:hover {
  color: #FFBE07;
}

#BioText {
  display: inline-block;
  width: 30vw;
  font-family: 'Segoe UI';
  font-weight: 55;
  font-size: 1.5rem;
  margin-left: 5%;
}


#me {
  width: 20rem;
  vertical-align: top;
}

/*
============================================================================================
=========================  Styling for Projects  =======================================
============================================================================================ 
*/

#Projects {
  margin-top: 5%;
  position: absolute;
  width: 99.5%;
}

#ProjectsTitle {
  font-family: 'Didot';
  font-style: italic;
  font-weight: 700;
  color: #FFBE07;
  font-size: 8em;
  text-align: center;
  margin-top: -2%;
  margin-bottom: -0.5%;
}

.container {
  width: 90%;
  margin: auto;
}

.cards-container {
  border-radius: 6px;
  color: #333;
  padding: 1rem;
  overflow-x: auto;
  position: relative;
  text-align: center;
}

.card {
  width: 30vw;
  display: inline-block;
  height: 50vh;
  background: rgba(255, 255, 255, .9);
  border-width: 3px;
  border-style: solid;
  border-color: #FFBE07;
  margin: 1rem;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.card>img {
  height: 45%;
  margin-top: 5%;
  object-fit: center;
}

.card:hover {
  transform: translateY(-3px);
}

.card-content {
  padding: 1rem;
}

/*
============================================================================================
========================= Responsive Styling  =======================================
============================================================================================ 
*/


@media screen and (max-width: 600px) {

  #Navigation {
    display: inline;
  }

  .NavLink {
    margin-right: 2%;
  }

  #Info {
    margin-left: 5vw;
    margin-right: 15vw;
  }

  #me {
    margin: 0 auto;
    width: 60vw !important;
  }

  #BioText {
    width: 60vw !important;
  }

  /*
  ============================================================================================
  =========================  Responsive Styling on Projects Page  =======================================
  ============================================================================================ 
  */

  .container {
    width: 100%;
  }

  .cards-container {
    padding: .5rem;
    display: grid;
  }

  .card {
    margin: 0 auto;
    width: 75%;
  }
}