/*
============================================================================================
=========================  Styling for Homepage  =======================================
============================================================================================ 
*/

html {
  min-height: 100%;
  overflow-y: hidden;
}

#Body {
  position: absolute;
  margin-top: 5%;
}

#root {
  height: 100vh;
  width: 100vw;
}

#MainHeader {
  margin-left: 5%;
  margin-top: -5%;
  width: 80%;
  z-index: 1;
}

#hey {
  font-family: 'Didot';
  font-style: italic;
  font-weight: 700;
  color: #FFBE07;
  font-size: 8em;
  position: relative;
  line-height: 85%;
}

#about {
  width: 30%;
  margin-top: -3%;
  position: relative;
}

#aboutText {
  font-weight: 300;
  font-size: 1.25em;
  font-family: 'Segoe UI';
}

#QuickLinks {
  width: 40vw;
}

.link {
  position: relative;
  font-family: 'Didot';
  font-style: italic;
  color: black;
  font-weight: 500;
  font-size: 1.5em;
  margin-right: 1vw;
}

.link:hover {
  color: #FFBE07;
}

#Navigation {
  width: 5vw;
  height: 25vh;
  float: right;
  z-index: 3;
  margin-right: 1%;
}

.NavLink {
  float: right;
  list-style-type: none;
  margin-bottom: 15%;
}

.NavLink>a {
  color: #FFBE07;
  font-family: 'Didot';
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
}

.NavLink>a:hover {
  color: black;
}

.react-p5 {
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  z-index: -3;
  top: 0vh;
  opacity: 75%;
}

/*
============================================================================================
=========================  Styling for About  =======================================
============================================================================================ 
*/

#AboutMe {
  margin-top: 5%;
}

#Info {
  margin-left: 5%;
  width: 80vw;
  height: 45vh;
}

.AboutLink {
  position: relative;
  font-family: 'Didot';
  font-style: italic;
  color: black;
  font-weight: 400;
}

.AboutLink:hover {
  color: #FFBE07;
}

#BioText {
  display: inline-block;
  /* margin-left: -5%; */
  margin-top: 5%;
  width: 30vw;
  font-family: 'Segoe UI';
  font-weight: 55;
  font-size: 1.5em;
}


#me {
  width: 50vh;
  clip-path: url("#meClipPath");
}

#clip {
  width: 50vh;
  float: left;
}

#myPic {
  position: relative;
  margin-top: -100vh;
  margin-left: -60vw;
}